.card-container{
    background-color:#ffffff;
    width: 90%;
    max-width: 1000px;
    height: auto;
    padding:10px 20px;
    text-align: justify;
    border:1.25px solid #eee;
    border-radius: 5.5px;
    box-shadow:1px 8px 10px 1px rgba(0,0,0,0.125);
    margin:25px auto;
}
.header-card{
    color:#5352ed;
    font-weight: 500;
    font-size: 30px;
}
.sub-header-card{
    font-size: 18px;
    color:#000000bf;
}
.content-card{
    font-size: 15px;
    letter-spacing: 0.55px;
    word-spacing: -0.5px;
    position: relative;
    top:-10px;
    padding:0 5px;
}
.footer-card{
    display: flex;
    justify-content: space-between;
    margin-top:0px;
    font-size: 15px;
}
.footer-card span{
    color:#5352ed;
    font-size: 14px;
    padding:0 3px;
}
@media only screen and (max-width:440px){
    .card-container{
        width:100%;
        padding:0;
        border:none;
        border-top:1.25px solid #eee;
        border-bottom:1.25px solid #eee;
    }
}