.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
*::selection{
	background-color:#011627;
  color:#ffffffCC;
}
input:focus{
    border-color: #5352ed;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:0;
}